body, html {
    height: 100%;
    font-size: 1.1rem;
}

button {
    font-size: 1.5rem;
}

a:visited {
    color: white;
}

h1 {
    font-size: 5rem;
}

header.title {
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ***** */
/* Hero page*/
/* ***** */
.hero-bg {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/TE_1.jpg");
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
    /* Position: absolute = defaults width to zero... */
    width:99vw;
    filter: blur(8px);
  -webkit-filter: blur(8px);
}

.hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/Images/TE_1.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position:relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


@media only screen and (min-width: 1000px) {
    .hero-image {
        background-size: contain;
    }
}


/* *****  */
/* Background page */
/* *****  */
.bg-container {
    height:100%;
    display: flex;
    background-color: #eee;
}

.bg-container > article {
    width: 50%;
}

.bg-container > article#bg-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bg-container > article#bg-img-container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}


article#bg-img-container > div {
    height: 20rem;
    width: 20rem;
    border: 1px solid black;
}


article#bg-img-container > div > img {
    height: 100%;
    width: 100%;
}



/* ***** */
/* Progamming page */
/* ***** */
.pg-container {
    height:100%;
    display: grid;
    grid-template-areas:
    "pg-header pg-header"
    "pg-desc pg-skills"
    "pg-proj pg-proj";
    grid-template-columns: 50% 50%;
    grid-template-rows: 20% 40% 40%;
    background-color: #f9f6f6;

}

#pg-header {
    grid-area: pg-header;
}

#pg-desc {
    grid-area: pg-desc;
}

#pg-skills {
    grid-area: pg-skills;
}

#pg-proj {
    grid-area: pg-proj;
}

article#pg-proj {
    justify-content: space-evenly;
}



/* ***** */
/* Science Mentorship page */
/* ***** */
.sci-container {
    height:100%;
    display: grid;
    grid-template-areas:
    "sci-header sci-header"
    "sci-desc sci-skills"
    "sci-slideshow sci-slideshow";
    grid-template-rows: 20% 40% 40%;
    grid-template-columns: 50% 50%;
    background-color: #eee;
}

#sci-header {
    grid-area: sci-header
}

#sci-desc {
    grid-area: sci-desc
}

#sci-skills {
    grid-area: sci-skills
}

#sci-slideshow {
    grid-area: sci-slideshow
}


/* ***** */
/* Nutrition page */
/* ***** */
.nutri-container {
    height:100%;
    display: grid;
    grid-template-areas: 
    "nutri-header nutri-header"
    "nutri-desc nutri-photos";
    grid-template-rows: 20% 80%;
    grid-template-columns: 50% 50%;
    background-color: #f9f6f6;

}

#nutri-header {
    grid-area: nutri-header;
}

#nutri-desc {
    grid-area: nutri-desc;
}

#nutri-photos {
    grid-area: nutri-photos;
}



/* ***** */
/* Traveling page */
/* ***** */
.trav-container {
    height:100%;
    display: grid;
    grid-template-areas: 
    "trav-header trav-header"
    "trav-desc trav-slideshow";
    grid-template-rows: 20% 80%;
    background-color: #eee;

}

#trav-header {
    grid-area: trav-header;
}

#trav-desc {
    grid-area: trav-desc;
}

#trav-slideshow {
    grid-area: trav-slideshow;
}

article#trav-slideshow {
    flex-direction: column;
}